html, body {
    margin: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
hr {
  margin: 40px;
  background-color: black;
  height: 2px;
  border: none;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}
ul.navbar li:last-child a {
  border-right: 1px solid #ffffff;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}
ul.navbar li a {
    border-left: 1px solid #ffffff;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}
li {
  display: inline;
  float: left;
  border: 1px, rgb(0,0,0);
}

li a {
  width: 70px;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}
li a:hover {
    background-color: grey;
}
li a.current {
    color:#fff;
    background: rgb(0,0,0);
}
.table {
  background-color: rgb(51,51,51);
  border: 10px;
}
.list {
    display:table;
    margin: 0 auto;
    background-color: #333;
}
.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.header {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
.welcome {
  text-align: center;
  margin-top: 0;
  font-size: 20px;
}
.text {
  width: 50%;
  margin: 10px;
  font-size: 23px;
  font-weight: bold;
}
.wrapper {
  margin: 0px;
  height: 100vh;
  background:
  linear-gradient(45deg, #2e319240, #1BFFFF40),
  linear-gradient(-45deg, #614385, #516395);
  font-family: 'Roboto', sans-serif;
}

#github {
  background-color: red;
  color: black;
  border: none;
  text-align: center;
  padding: 8px 20px;
  font-weight:bold;
  border-radius:10px;
  cursor:pointer;
  transition: all 0.5s;
}
#github span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
#github span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}
#github:hover span {
padding-right: 25px;
}
#github:hover span:after {
opacity: 1;
right: 0;
}